@model IEnumerable<DataAccessLayerEntityFramework.usp_zAuditRateClasses_SELECT_Result>
@{
    ViewBag.Title = "Index";
}

<div class="form-details p15">
<div class="form-information">
        <div class="form-title-specific float-left">Audit Rate Class Index</div>
        <div class="float-right">
            <input type="text" class="text-box2"><div class="seachbtn">
                <button class="button" type="submit" value="Search for records" id="search">search</button>
            </div>
        </div>
    </div>
     <div class="details-data-section">
 <div class="details-full-section">
    <div class="left_audit">
        <table class="index">
    <tr>
        <th></th>
        <th>
            @Html.ActionLink("Id", "IdClick")
        </th>
        <th>
            @Html.ActionLink("Util Co Id", "UtilityCompanyIdClick")
        </th>
        <th>
            @Html.ActionLink("Util Code", "UtilityCodeClick")
        </th>
        <th>
            @Html.ActionLink("Rate Class Code", "RateClassCodeClick")
        </th>
        <th>
            @Html.ActionLink("Description", "DescriptionClick")
        </th>
        <th>
            @Html.ActionLink("Account Type Id", "AccountTypeIdClick")
        </th>
        <th>
            @Html.ActionLink("Account Type", "AccountTypeNameClick")
        </th>
        <th>
            @Html.ActionLink("LP Std Rate Class", "LpStandardRateClassClick")
        </th>
        <th>
            @Html.ActionLink("Inactive", "InactiveTitleClick")
        </th>
        <th>
            @Html.ActionLink("Create By", "CreatedByTitleClick")
        </th>
        <th>
            @Html.ActionLink("Create Date", "CreatedDateTitleClick")
        </th>
        <th>
            @Html.ActionLink("Last Mod By", "LastModifiedByTitleClick")
        </th>
        <th>
            @Html.ActionLink("Last Mod Date", "LastModifiedDateTitleClick")
        </th>
        <th>
            @Html.ActionLink("Change Version", "ChangeVersionClick")
        </th>
        <th>
            @Html.ActionLink("Creation Version", "CreationVersionClick")
        </th>
        <th>
            @Html.ActionLink("Change Operation", "ChangeOperationClick")
        </th>
        <th>
            @Html.ActionLink("Change Columns", "ChangeColumnsClick")
        </th>
      
    </tr>
    @{
        foreach (var item in Model)
        {
        <tr>
            <td>Current</td>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.UtilityCompanyId)</td>
            <td>@Html.DisplayFor(modelItem => item.UtilityCode)</td>
            <td>@Html.DisplayFor(modelItem => item.RateClassCode)</td>
            <td>@Html.DisplayFor(modelItem => item.Description)</td>
            <td>@Html.DisplayFor(modelItem => item.AccountTypeId)</td>
            <td>@Html.DisplayFor(modelItem => item.AccountTypeName)</td>
            <td>@Html.DisplayFor(modelItem => item.LpStandardRateClassCode)</td>
            <td>@Html.DisplayFor(modelItem => item.Inactive)</td>
            <td>@Html.DisplayFor(modelItem => item.CreatedBy)</td>
            <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
            <td>@Html.DisplayFor(modelItem => item.LastModifiedBy)</td>
            <td>@Html.DisplayFor(modelItem => item.LastModifiedDate)</td>
            <td>@Html.DisplayFor(modelItem => item.SYS_CHANGE_VERSION)</td>
            <td>@Html.DisplayFor(modelItem => item.SYS_CHANGE_CREATION_VERSION)</td>
            <td>@Html.DisplayFor(modelItem => item.SYS_CHANGE_OPERATION)</td>
            <td>@Html.DisplayFor(modelItem => item.SYS_CHANGE_COLUMNS)</td>
        </tr>
        <tr>
            <td>Previous</td>
            <td>@Html.DisplayFor(modelItem => item.IdPrevious)</td>
            <td>@Html.DisplayFor(modelItem => item.UtilityCompanyIdPrevious)</td>
            <td>@Html.DisplayFor(modelItem => item.UtilityCodePrevious)</td>
            <td>@Html.DisplayFor(modelItem => item.RateClassCodePrevious)</td>
            <td>@Html.DisplayFor(modelItem => item.DescriptionPrevious)</td>
            <td>@Html.DisplayFor(modelItem => item.AccountTypeIdPrevious)</td>
            <td>@Html.DisplayFor(modelItem => item.AccountTypeNamePrevious)</td>
            <td>@Html.DisplayFor(modelItem => item.LpStandardRateClassCodePrevious)</td>
            <td>@Html.DisplayFor(modelItem => item.InactivePrevious)</td>
            <td>@Html.DisplayFor(modelItem => item.CreatedByPrevious)</td>
            <td>@Html.DisplayFor(modelItem => item.CreatedDatePrevious)</td>
            <td>@Html.DisplayFor(modelItem => item.LastModifiedByPrevious)</td>
            <td>@Html.DisplayFor(modelItem => item.LastModifiedDatePrevious)</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        }
    }
</table>
     </div>
     </div>
         </div>
    </div>
<script>
    $(function () {
        $("#tabs").tabs();

    });
