@model List<DataAccessLayerEntityFramework.MeterNumberPattern> 

@{
    ViewBag.Title = "Meter Number Pattern Index";
}

<div class="form-details">
    <div class="form-information">
        <div class="form-title-general">Index</div>
        <div class="form-title-specific float-left">Meter Number Pattern</div>
        <div class="float-right">
            <input type="text" class="text-box2"><div class="seachbtn">
                <button class="button" type="submit" value="Search for records" id="search">search</button></div>
        </div>
    </div>
    <div class="details-data-section">

        <div class="detail_table">
            <div class="left_container">
            <table class="index">
                <tr>
                    <th>Row Count = @Model.Count()</th>
                    <th>
                        @Html.ActionLink("Utility Code", "TitleClick", new { name = "UtilityCode" })
                        @{
                            if (!string.IsNullOrWhiteSpace(@ViewBag.UtilityCodeImageUrl))
                            {
                        <img id="imgUtilityCode" src="@ViewBag.UtilityCodeImageUrl"  valign="middle" />
                            }
                        }
                    </th>
                    <th>
                        @Html.ActionLink("Meter Number Pattern", "TitleClick", new { name = "MeterNumberPattern" })
                        @{
                            if (!string.IsNullOrWhiteSpace(@ViewBag.MeterNumberPatternImageUrl))
                            {
                        <img id="imgMeterNumberPattern" src="@ViewBag.MeterNumberPatternImageUrl"  valign="middle" />
                            }
                        }
                    </th>
                    <th>
                        @Html.ActionLink("Meter Number Pattern Description", "TitleClick", new { name = "MeterNumberPatternDescription" })
                        @{
                            if (!string.IsNullOrWhiteSpace(@ViewBag.MeterNumberPatternDescriptionImageUrl))
                            {
                        <img id="imgMeterNumberPatternDescription" src="@ViewBag.MeterNumberPatternDescriptionImageUrl"  valign="middle" />
                            }
                        }
                    </th>
                    <th>
                        @Html.ActionLink("Meter Number Add Leading Zero", "TitleClick", new { name = "MeterNumberAddLeadingZero" })
                        @{
                            if (!string.IsNullOrWhiteSpace(@ViewBag.MeterNumberAddLeadingZeroImageUrl))
                            {
                        <img id="imgMeterNumberAddLeadingZero" src="@ViewBag.MeterNumberAddLeadingZeroImageUrl"  valign="middle" />
                            }
                        }
                    </th>
                    <th>
                        @Html.ActionLink("Meter Number Truncate Last", "TitleClick", new { name = "MeterNumberTruncateLast" })
                        @{
                            if (!string.IsNullOrWhiteSpace(@ViewBag.MeterNumberTruncateLastImageUrl))
                            {
                        <img id="imgMeterNumberTruncateLast" src="@ViewBag.MeterNumberTruncateLastImageUrl"  valign="middle" />
                            }
                        }
                    </th>
                    <th>
                        @Html.ActionLink("Meter Number Required For EDI Request", "TitleClick", new { name = "MeterNumberRequiredForEDIRequest" })
                        @{
                            if (!string.IsNullOrWhiteSpace(@ViewBag.MeterNumberRequiredForEDIRequestImageUrl))
                            {
                        <img id="imgMeterNumberRequiredForEDIRequest" src="@ViewBag.MeterNumberRequiredForEDIRequestImageUrl"  valign="middle" />
                            }
                        }
                    </th>
                    <th>
                        @Html.ActionLink("Inactive", "TitleClick", new { name = "Inactive" })
                        @{
                            if (!string.IsNullOrWhiteSpace(@ViewBag.InactiveImageUrl))
                            {
                        <img id="imgInactive" src="@ViewBag.InactiveImageUrl"  valign="middle" />
                            }
                        }
                    </th>
                    <th>
                        @Html.ActionLink("Created By", "TitleClick", new { name = "CreatedBy" })
                        @{
                            if (!string.IsNullOrWhiteSpace(@ViewBag.CreatedByImageUrl))
                            {
                        <img id="imgCreatedBy" src="@ViewBag.CreatedByImageUrl"  valign="middle" />
                            }
                        }
                    </th>
                    <th>
                        @Html.ActionLink("Created Date", "TitleClick", new { name = "CreatedDate" })
                        @{
                            if (!string.IsNullOrWhiteSpace(@ViewBag.CreatedDateImageUrl))
                            {
                        <img id="imgCreatedDate" src="@ViewBag.CreatedDateImageUrl"  valign="middle" />
                            }
                        }
                    </th>
                    <th>
                        @Html.ActionLink("Last Modified By", "TitleClick", new { name = "LastModifiedBy" })
                        @{
                            if (!string.IsNullOrWhiteSpace(@ViewBag.LastModifiedByImageUrl))
                            {
                        <img id="imgLastModifiedBy" src="@ViewBag.LastModifiedByImageUrl"  valign="middle" />
                            }
                        }
                    </th>
                    <th>
                        @Html.ActionLink("Last Modified Date", "TitleClick", new { name = "LastModifiedDate" })
                        @{
                            if (!string.IsNullOrWhiteSpace(@ViewBag.LastModifiedDateImageUrl))
                            {
                        <img id="imgLastModifiedDate" src="@ViewBag.LastModifiedDateImageUrl"  valign="middle" />
                            }
                        }
                    </th>
                </tr>
                @{
                    foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @{string checkBoxId = string.Format("CheckBoxSelection_{0}", item.Id);}
                            <input type="checkbox" class="check-box" id="@checkBoxId" name="SelectionCheckBox" onClick="UncheckAllButThis('@checkBoxId');">
                        <td>
                            @Html.DisplayFor(modelItem => item.UtilityCompany.UtilityCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MeterNumberPattern1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MeterNumberPatternDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MeterNumberAddLeadingZero)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MeterNumberTruncateLast)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MeterNumberRequiredForEdiRequest)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Inactive)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastModifiedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastModifiedDate)
                        </td>
                    </tr>
                    }
                }
            </table>
        </div></div>
        <div class="right_chart">         
            </div>
    </div>
</div>
@if (Session["ErrorMessage"] != null)
{<h3>@Session["ErrorMessage"].ToString()</h3>}
<script>
    $(function () {
        $("#tabs").tabs();
    });