@model DataAccessLayerEntityFramework.RequestModeTypeToRequestModeEnrollmentType

@{
    ViewBag.Title = "Edit Request Mode Type To Request Mode Enrollment Type";
}
<h3>Edit Request Mode Type To Request Mode Enrollment Type</h3>
<br />

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="form_fieldset">
        <fieldset>
            <legend>RequestModeTypeToRequestModeEnrollmentType</legend>

            @Html.HiddenFor(model => model.Id)

            <div class="editor-label">
                @Html.LabelFor(model => model.RequestModeTypeId, "Request Mode Type")
            </div>
            <div class="editor-field">
                @Html.DropDownList("RequestModeTypeId", String.Empty)
                @Html.ValidationMessageFor(model => model.RequestModeTypeId)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.RequestModeEnrollmentTypeId, "Request Mode Enrollment Type")
            </div>
            <div class="editor-field">
                @Html.DropDownList("RequestModeEnrollmentTypeId", String.Empty)
                @Html.ValidationMessageFor(model => model.RequestModeEnrollmentTypeId)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Inactive)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Inactive)
                @Html.ValidationMessageFor(model => model.Inactive)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.CreatedBy, "Created By")
            </div>
            <div class="editor-field">
                @Html.DisplayFor(model => model.CreatedBy)
                @Html.ValidationMessageFor(model => model.CreatedBy)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.CreatedDate, "Created Date")
            </div>
            <div class="editor-field">
                @Html.DisplayFor(model => model.CreatedDate)
                @Html.ValidationMessageFor(model => model.CreatedDate)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.LastModifiedBy, "Last Modified By")
            </div>
            <div class="editor-field">
                @Html.DisplayFor(model => model.LastModifiedBy)
                @Html.ValidationMessageFor(model => model.LastModifiedBy)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.LastModifiedDate, "Last Modified Date")
            </div>
            <div class="editor-field">
                @Html.DisplayFor(model => model.LastModifiedDate)
                @Html.ValidationMessageFor(model => model.LastModifiedDate)
            </div>
        </fieldset>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
