@model DataAccessLayerEntityFramework.UserInterfaceForm

@{
    ViewBag.Title = "Details";
}

<h3>User Interface Form Details</h3>
<br />
<div class="form_fieldset">
    <fieldset>
        <legend>UserInterfaceForm</legend>

        <div class="display-label">
            @Html.Label("User Interface Form Name")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.UserInterfaceFormName)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Inactive)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Inactive)
        </div>

        <div class="display-label">
            @Html.Label("Created By")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CreatedBy)
        </div>

        <div class="display-label">
            @Html.Label("Created Date")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CreatedDate)
        </div>

        <div class="display-label">
            @Html.Label("Last Modified By")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.LastModifiedBy)
        </div>

        <div class="display-label">
            @Html.Label("Last Modified Date")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.LastModifiedDate)
        </div>
    </fieldset>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
