@model UtilityManagement.Models.AccountInfoFieldRequiredModel
@{
    ViewBag.Title = "Account Info Field Required Details";
}

@using (Html.BeginForm())
{
    <div class="edit_section">
        <div class="edit_header">
            <div class="accountInfo_ico"></div>
            <div class="edit_header_desc"><h4>Account Info Field Required</h4>
            <h3>Details Record</h3>
            </div>
            </div>
        <div class="form_fieldset">
            <fieldset>
                <legend>Account Info Field Required</legend>
                @Html.HiddenFor(model => model.UtilityCompanyId, new { id = "UtilityCompanyId", name = "UtilityCompanyId" })
                <div class="textblock">
                    <div class="details-data-section">
                   <img id="dirImg2"  class="hidediv" src="~/Images/arrow_open.png" onclick="showDiv('hideContent',this.id)" /> 
                    <div class="edit_section_heading"  onclick="showDiv('hideContent',this.id)" >General</div>
                    <div id="hideContent" class="editdetails">
                    <div class="details-full-section">
                        <div class="details-left-section">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.UtilityCode, "Utility Code")
                        </div>
                        <div class="editor-field-display">
                            @Html.DisplayFor(model => model.UtilityCode)
                        </div>
                        <div class="clear"></div>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Grid, "Grid")
                        </div>
                        <div class="editor-field-display">
                            @Html.DisplayFor(model => model.Grid)
                            @Html.ValidationMessageFor(model => model.Grid, "The current Grid field value is invalid.")
                        </div>
                         <div class="clear"></div>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.ICap, "I-Cap")
                        </div>
                        <div class="editor-field-display">
                            @Html.DisplayFor(model => model.ICap)
                            @Html.ValidationMessageFor(model => model.ICap, "The current I-Cap field value is invalid.")
                        </div>
                         <div class="clear"></div>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.LbmpZone, "LBMP Zone")
                        </div>
                        <div class="editor-field-display">
                            @Html.DisplayFor(model => model.LbmpZone)
                            @Html.ValidationMessageFor(model => model.LbmpZone, "The current Lbmp Zone field value is invalid.")
                        </div>
                         <div class="clear"></div>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.LoadProfile, "Load Profile")
                        </div>
                        <div class="editor-field-display">
                            @Html.DisplayFor(model => model.LoadProfile)
                            @Html.ValidationMessageFor(model => model.LoadProfile, "The current Load Profile field value is invalid.")
                        </div>
                         <div class="clear"></div>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.MeterOwner, "Meter Owner")
                        </div>
                        <div class="editor-field-display">
                            @Html.DisplayFor(model => model.MeterOwner)
                            @Html.ValidationMessageFor(model => model.MeterOwner, "The current Meter Owner field value is invalid.")
                        </div>
                         <div class="clear"></div>
                         </div>
                        
                        <div class="details-right-section">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.MeterType, "Meter Type")
                        </div>
                        <div class="editor-field-display">
                            @Html.DisplayFor(model => model.MeterOwner)
                            @Html.ValidationMessageFor(model => model.MeterType, "The current Meter Type field value is invalid.")
                        </div>
                         <div class="clear"></div>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.RateClass, "Rate Class")
                        </div>
                        <div class="editor-field-display">
                            @Html.DisplayFor(model => model.RateClass)
                            @Html.ValidationMessageFor(model => model.RateClass, "The current Rate Class field value is invalid.")
                        </div>
                         <div class="clear"></div>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.TariffCode, "Tariff Code")
                        </div>
                        <div class="editor-field-display">
                            @Html.DisplayFor(model => model.TariffCode)
                            @Html.ValidationMessageFor(model => model.TariffCode, "The current Tariff Code field value is invalid.")
                        </div>
                         <div class="clear"></div>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.TCap, "T-Cap")
                        </div>
                        <div class="editor-field-display">
                            @Html.DisplayFor(model => model.TCap)
                            @Html.ValidationMessageFor(model => model.TCap, "The current T-Cap field value is invalid.")
                        </div>
                         <div class="clear"></div>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Voltage, "Voltage")
                        </div>
                        <div class="editor-field-display">
                            @Html.DisplayFor(model => model.Voltage)
                            @Html.ValidationMessageFor(model => model.Voltage, "The current Voltage field value is invalid.")
                        </div>
                         <div class="clear"></div>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Zone, "Zone")
                        </div>
                        <div class="editor-field-display">
                            @Html.DisplayFor(model => model.Zone)
                            @Html.ValidationMessageFor(model => model.Zone, "The current Zone field value is invalid.")
                        </div>
                    </div></div>
                   </div></div>

                </div>
            </fieldset>
        </div>
    </div>
}
@if (Session["ErrorMessage"] != null)
{<h3>@Session["ErrorMessage"].ToString()</h3>}

<script>
    $(function () {
        $("#tabs").tabs();
    });