@model DataAccessLayerEntityFramework.LoadProfile
@{
    ViewBag.Title = "Load Profile Details";
}

@using (Html.BeginForm())
{
    <div class="edit_section">
        <div class="edit_header">
            <div class="loadp_ico"></div>
            <div class="edit_header_desc"><h4> Load Profile</h4>
            <h3>Details Record</h3>
            @*Enrollment Type*@
            </div>
            </div>
        <div class="form_fieldset">
            <fieldset>
                <legend>LoadProfile</legend>
                <div class="textblock">
                   <div class="details-data-section">
                       <div id="Gen"  class="activable">
                       <img id="dirImg2" class="hidediv" src="~/Images/arrow_open.png" onclick="showDiv('hideContent',this.id)" />
                       <div class="edit_section_heading" onclick="showDiv('hideContent',this.id)">General</div>
                       <div id="hideContent" class="editdetails">
                           <div class="details-full-section">
                        <div class="display-label">
                            @Html.LabelFor(model => model.UtilityCompany.UtilityCode, "Utility Code")
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.UtilityCompany.UtilityCode)
                        </div>

                        <div class="display-label">
                            @Html.LabelFor(model => model.LoadProfileId, "Load Profile ID")
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.LoadProfileId)
                        </div>

                        <div class="display-label">
                            @Html.LabelFor(model => model.LoadProfileCode, "Load Profile Code")
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.LoadProfileCode)
                        </div>

                        <div class="display-label">
                            @Html.LabelFor(model => model.Description)
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.Description)
                        </div>

                        <div class="display-label">
                            @Html.LabelFor(model => model.AccountType.Name, "Account Type")
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.AccountType.Name)
                        </div>

                        <div class="display-label">
                            @Html.LabelFor(model => model.LpStandardLoadProfile.LpStandardLoadProfileCode, "LP Std Load Profile")
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.LpStandardLoadProfile.LpStandardLoadProfileCode)
                        </div>
                    </div>

                   </div>
                           </div>

                       <br />
                       <div id="info"  class="activable">
                       <img id="dirImg3" class="hidediv" src="~/Images/arrow_open.png" onclick="showDiv('hideContent2',this.id)" />
                       <div class="edit_section_heading" onclick="showDiv('hideContent2',this.id)">Audit Information</div>
                       <div id="hideContent2" class="editdetails" >
                           <div class="details-full-section">
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.Inactive)
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.Inactive)
                        </div>

                        <div class="display-label">
                            @Html.LabelFor(model => model.CreatedBy, "Created By")
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.CreatedBy)
                        </div>

                        <div class="display-label">
                            @Html.LabelFor(model => model.CreatedDate, "Created Date")
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.CreatedDate)
                        </div>

                        <div class="display-label">
                            @Html.LabelFor(model => model.LastModifiedBy, "Last Modified By")
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.LastModifiedBy)
                        </div>

                        <div class="display-label">
                            @Html.LabelFor(model => model.LastModifiedDate, "Last Modified Date")
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.LastModifiedDate)
                        </div>
                    </div>
                           </div></div></div>
                </div>
            </fieldset>
        </div>
    </div>
}
@if (Session["ErrorMessage"] != null)
{<h3>@Session["ErrorMessage"].ToString()</h3>}

<script>
    $(function () {
        $("#tabs").tabs();
    });