@model DataAccessLayerEntityFramework.TariffCode
@{
    ViewBag.Title = "Tariff Code Details";
}

@using (Html.BeginForm())
{
     <div class="edit_section">
        <div class="edit_header">
            <div class="tariff_ico"></div>
            <div class="edit_header_desc"><h4>Tariff Code</h4>
            <h3>Details Record</h3>
            @*Enrollment Type*@
            </div>
            </div>
        <div class="form_fieldset">
            <fieldset>
                <legend>TariffCode</legend>
                <div class="textblock">
                <div class="details-data-section">
                    <div id="Gen"  class="activable">
                   <img id="dirImg2"  class="hidediv" src="~/Images/arrow_open.png" onclick="showDiv('hideContent',this.id)" /> 
                    <div class="edit_section_heading"  onclick="showDiv('hideContent',this.id)" >General</div>
                    <div id="hideContent" class="editdetails">
                    <div class="details-full-section">
                        <div class="display-label">
                            @Html.LabelFor(model => model.UtilityCompany.UtilityCode, "Utility Code")
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.UtilityCompany.UtilityCode)
                        </div>

                        <div class="display-label">
                            @Html.LabelFor(model => model.TariffCodeId, "Tariff Code ID")
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.TariffCodeId)
                        </div>

                        <div class="display-label">
                            @Html.LabelFor(model => model.TariffCodeCode, "Tariff Code")
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.TariffCodeCode)
                        </div>

                        <div class="display-label">
                            @Html.LabelFor(model => model.Description)
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.Description)
                        </div>

                        <div class="display-label">
                            @Html.LabelFor(model => model.AccountType.Name, "Account Type")
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.AccountType.Name)
                        </div>

                        <div class="display-label">
                            @Html.LabelFor(model => model.LpStandardTariffCode.LpStandardTariffCodeCode, "LP Std Tariff Code")
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.LpStandardTariffCode.LpStandardTariffCodeCode)
                        </div>
                    </div>
                        </div></div>

                    
                      <br />
                    <div id="info"  class="activable">
                    <img id="dirImg3" class="hidediv" src="~/Images/arrow_open.png" onclick="showDiv('hideContent2',this.id)" /> 
                    <div class="edit_section_heading" onclick="showDiv('hideContent2',this.id)">Audit Information</div>
                    <div id="hideContent2" class="editdetails">
                    <div class="details-full-section">
                        
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.Inactive)
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.Inactive)
                        </div>

                        <div class="display-label">
                            @Html.LabelFor(model => model.CreatedBy, "Created By")
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.CreatedBy)
                        </div>

                        <div class="display-label">
                            @Html.LabelFor(model => model.CreatedDate, "Created Date")
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.CreatedDate)
                        </div>

                        <div class="display-label">
                            @Html.LabelFor(model => model.LastModifiedBy, "Last Modified By")
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.LastModifiedBy)
                        </div>

                        <div class="display-label">
                            @Html.LabelFor(model => model.LastModifiedDate, "Last Modified Date")
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.LastModifiedDate)
                        </div>
                    </div>
                </div>
                        </div></div></div>
            </fieldset>
        </div>
    </div>
    @*<div class="form-buttons">
        <table>
            <tr>
                <td class="form-buttons">
                    @if (Session["ErrorMessage"] == null || string.IsNullOrEmpty(Session["ErrorMessage"].ToString()))
                    {
                        <button id="btnEdit" name="submitButton" value="Edit" type="submit" class="button">Edit</button>
                    }
                </td>
            </tr>
        </table>
    </div>*@
}
@if (Session["ErrorMessage"] != null)
{<h3>@Session["ErrorMessage"].ToString()</h3>}
<script>
    $(function () {
        $("#tabs").tabs();
    });