@model DataAccessLayerEntityFramework.TariffCodeAlia
@{
    ViewBag.Title = "Tariff Code Alias Details";
}

@using (Html.BeginForm())
{
     <div class="edit_section">
        <div class="edit_header">
            <div class="tariff_ico"></div>
            <div class="edit_header_desc"><h4>Tariff Code Alias</h4>
            <h3>Details  Record</h3>
            @*Enrollment Type*@
            </div>
            </div>
        <div class="form_fieldset">
            <fieldset>
                <legend>Tariff Code Alias</legend>
                <div class="textblock">
                  <div class="details-data-section">
                      <div id="Gen"  class="activable">
                   <img id="dirImg2"  class="hidediv" src="~/Images/arrow_open.png" onclick="showDiv('hideContent',this.id)" /> 
                    <div class="edit_section_heading"  onclick="showDiv('hideContent',this.id)" >General</div>
                    <div id="hideContent" class="editdetails">
                    <div class="details-full-section">
                        <div class="display-label">
                            @Html.Label("Utility Company")
                        </div>
                        <div class="display-field">
                            @Html.Label((string)ViewBag.UtilityCode)
                        </div>
                        <div class="clear"></div>

                        <div class="display-label">
                            @Html.LabelFor(model => model.TariffCode.TariffCodeId, "Tariff Code Id")
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.TariffCode.TariffCodeId)
                        </div>
                        <div class="clear"></div>

                        <div class="display-label">
                            @Html.LabelFor(model => model.TariffCodeCodeAlias, "Tariff Code Alias")
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.TariffCodeCodeAlias)
                        </div>
                        <div class="clear"></div>

                    </div>

                   </div>
                          </div>



                    <br/>
                     <div id="info"  class="activable">
                    <img id="dirImg3" class="hidediv" src="~/Images/arrow_open.png" onclick="showDiv('hideContent2',this.id)" /> 
                    <div class="edit_section_heading" onclick="showDiv('hideContent2',this.id)">Audit Information</div>
                    <div id="hideContent2" class="editdetails">
                    <div class="details-full-section">
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.Inactive)
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.Inactive)
                        </div>

                        <div class="display-label">
                            @Html.LabelFor(model => model.CreatedBy, "Created By")
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.CreatedBy)
                        </div>

                        <div class="display-label">
                            @Html.LabelFor(model => model.CreatedDate, "Created Date")
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.CreatedDate)
                        </div>

                        <div class="display-label">
                            @Html.LabelFor(model => model.LastModifiedBy, "Last Modified By")
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.LastModifiedBy)
                        </div>

                        <div class="display-label">
                            @Html.LabelFor(model => model.LastModifiedDate, "Last Modified Date")
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.LastModifiedDate)
                        </div>
                    </div>
                        </div></div></div>
                </div>
            </fieldset>
        </div>
    </div>
}
@if (Session["ErrorMessage"] != null)
{<h3>@Session["ErrorMessage"].ToString()</h3>}
<script>
    $(function () {
        $("#tabs").tabs();
    });