    <div id="menudiv">
            <br />
            <br />
        <div id="FormRoleTitle">Utility Management - Overview</div>
            <ul id="menu">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Historical Usage Request Mode", "Index", "RequestModeHistoricalUsage")</li>
                <li>@Html.ActionLink("I-Cap Request Mode", "Index", "RequestModeIcap")</li>
                <li>@Html.ActionLink("IDR Request Mode", "Index", "RequestModeIdr")</li>
                <li>@Html.ActionLink("IDR Rules", "Index", "IdrRule")</li>
            </ul>
            <ul id="menu">
                <li>@Html.ActionLink("Load Profile", "Index", "LoadProfile")</li>
                <li>@Html.ActionLink("Meter Type", "Index", "MeterType")</li>
                <li>@Html.ActionLink("Rate Class", "Index", "RateClass")</li>
                <li>@Html.ActionLink("Service Class", "Index", "ServiceClass")</li>
                <li>@Html.ActionLink("Tariff Code", "Index", "TariffCode")</li>
                <li>@Html.ActionLink("Utility Company", "Index", "UtilityCompany")</li>
            </ul>
            <ul id="adminmenu">
                <li>@Html.ActionLink("Request Mode Type", "Index", "RequestModeType")</li>
                <li>@Html.ActionLink("Request Mode Type Genre", "Index", "RequestModeTypeGenre")</li>
                <li>@Html.ActionLink("Request Mode Type To Request Mode Type Genre", "Index", "RequestModeTypeToRequestModeTypeGenre")</li>
                <li>@Html.ActionLink("Request Mode Enrollment Type", "Index", "RequestModeEnrollmentType")</li>
                <li>@Html.ActionLink("Request Mode Type To Request Mode Enrollment Type Mapping", "Index", "RequestModeTypeToRequestModeEnrollmentType")</li>
            </ul>
            <ul id="adminmenu">
                <li>@Html.ActionLink("Account Type", "Index", "AccountType")</li>
            </ul>
            <ul id="adminmenu">
                <li>@Html.ActionLink("Forms", "Index", "UserInterfaceForm")</li>
                <li>@Html.ActionLink("Controls", "Index", "UserInterfaceFormControl")</li>
                <li>@Html.ActionLink("Visibility Rules", "Index", "UserInterfaceControlAndValueGoverningControlVisibility")</li>
                <li>@Html.ActionLink("Control Visibility", "Index", "UserInterfaceControlVisibility")</li>
            </ul>
            <ul id="adminmenu">
                <li>@Html.ActionLink("Audit Request Mode Historical Usage", "Index", "AuditRequestModeHistoricalUsage")</li>
                <li>@Html.ActionLink("Audit Request Mode I-Cap", "Index", "AuditRequestModeIcap")</li>
                <li>@Html.ActionLink("Audit Request Mode IDR", "Index", "AuditRequestModeIdr")</li>
            </ul>
            <ul id="adminmenu">
                <li>@Html.ActionLink("Audit Load Profile", "Index", "AuditLoadProfile")</li>
                <li>@Html.ActionLink("Audit Meter Type", "Index", "AuditMeterType")</li>
                <li>@Html.ActionLink("Audit Rate Class", "Index", "AuditRateClass")</li>
                <li>@Html.ActionLink("Audit Service Class", "Index", "AuditServiceClass")</li>
                <li>@Html.ActionLink("Audit Tariff Code", "Index", "AuditTariffCode")</li>
                <li>@Html.ActionLink("Audit Utility", "Index", "AuditUtilityCompany")</li>
            </ul>
    </div>
