@model List<UtilityManagement.Models.Top25ZipCodesItem>
@{
    ViewBag.Title = "Top 25 Zip Codes Index";
}

<div class="form-details">
    <div class="form-information">
        <div class="form-title-general">Index</div>
        <div class="form-title-specific float-left">Top 25 Zip Codes</div>
        <div class="float-right">
            <input type="text" class="text-box2"><div class="seachbtn">
                <button class="button" type="submit" value="Search for records" id="search">search</button></div>
        </div>
    </div>
    <div class="details-data-section">

        <div class="detail_table">
            <div class="left_container">
            <table class="index">
                <tr>
                    <th>Row Count = @this.Model.Count</th>
                    <th>Description</th>
                    <th>Zip Code</th>
                    <th>Number Of Accounts</th>
                    <th>% Of Total Accounts</th>
                    <th>Running %</th>
                    <th>Date</th>
                </tr>
                    @{
                           if (this.Model == null)
                         {
                            <tr><td>Model is null</td></tr>
                         }
                         else
                         {
                             if (this.Model.Count == 0)
                             {
                                        <tr><td>Model.Count==0</td></tr>
                             }
                             else
                             {
                                 foreach (var item in this.Model)
                                 {
                                    <tr>
                                        <td>
                                            @{string checkBoxId = string.Format("CheckBoxSelection_{0}", Guid.NewGuid().ToString());}
                                            <input type="checkbox" class="check-box" id="@checkBoxId" name="SelectionCheckBox" onClick="UncheckAllButThis('@checkBoxId');">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ZipCode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NumberOfAccounts)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PercentOfTotalAccounts)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RunningPercent)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DateTime)
                                        </td>
                                    </tr>
                                 }
                             }
                         }
                    }
            </table>
                </div></div>
                <div class="right_chart">
               </div>
        </div></div>
    </div>
</div>
@if (Session["ErrorMessage"] != null)
{<h3>@Session["ErrorMessage"].ToString()</h3>}
<script>
    $(function () {
        $("#tabs").tabs();
    });